body{
    margin: 0;
    padding: 0;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .header{
    /* display: flex;
    flex-direction: column; */
    text-align: center;
  }
  .text1{
    color: gray;
    word-wrap: break-word;
}
.text2{
    word-wrap: break-word;
}
.para{
    color: gray;
    word-wrap: break-word;
}
@media only screen and (max-width:426px) and (min-width: 320px) {
    .header{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}